//
// Base
// ------------------------------------------------------------


* {
  box-sizing: border-box;
  outline: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  -ms-overflow-style: scrollbar;
}
html {
  -webkit-tap-highlight-color: rgba($black, 0);
}
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $bg-color;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  &.is-sidebar-open {
    overflow: hidden;
  }
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
