//
// Breadcrumbs
// ------------------------------------------------------------

.breadcrumbs {
  padding: 0;
  margin: 0 0 20px;
  letter-spacing: -.4em;
  list-style: none;
}
.breadcrumbs__list {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: normal;
  a {
    position: relative;
    display: block;
    padding-right: 14px;
    font-weight: bold;
    &::after {
      @include fontawesome("\f105");
      position: absolute;
      right: 0;
      font-size: $base-font-size;
      font-weight: normal;
      color: $gray;
    }
  }
}
@include mobile {
  .breadcrumbs {
    display: none;
  }
}
