.page-login {
  padding: 50px 0 20px;
  background-color: $sidebar-color;
}
.login {
  width: 400px;
  margin: 0 auto;
}
.login__wrap {
  box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}
.login__logo {
  margin: 0 0 20px;
  font-weight: bold;
  color: $white;
  text-align: center;
}
.login__head {
  position: relative;
  padding: 10px 20px;
  color: $white;
  background-color: darken($head-color, 3%);
  border-bottom: 1px solid $black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}
.login__title {
  margin: 0;
  font-size: 18px;
  .fa {
    margin-right: 10px;
  }
}
.login__body {
  background-color: $white;
}
.login__list {
  padding: 20px 20px 0;
  &:last-child {
    padding-bottom: 25px;
  }
}
.login__label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}
.login__foot {
  padding: 18px 20px;
  background-color: $gray-white;
  border-top: 1px solid $border-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05) inset;
}
.login__caps {
  margin: 15px 0 0;
  font-size: 13px;
  p {
    margin: 0;
  }
  a {
    color: $white;
  }
}

@include mobile {
  .page-login {
    padding: 20px 15px;
  }
  .login {
    width: 100%;
    margin: 0;
  }
}
