//
// Main Contents
// ------------------------------------------------------------


.main-contents {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
  padding-left: $sidebar-width;
  background-color: $bg-color;
  transition: $base-transition;
}
.main-contents__body {
  position: relative;
  min-height: 100%;
  padding: 20px 25px;
  background-color: $bg-color;
  > p {
    margin-top: 0;
  }
}

@include tablet {
  .main-contents {
    padding-left: 0;

  }
  .is-sidebar-open {
    .main-contents {
      position: fixed;
      left: $sidebar-width;
    }
  }
}
@include mobile {
  .main-contents__body {
    padding: 15px;
  }
}
