.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  letter-spacing: -.4em;
  background-color: $white;
  > li {
    display: inline-block;
    margin: 0;
    letter-spacing: normal;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:first-child {
      border-left: 1px solid $border-color;
    }
    &.active {
      position: relative;
      margin-left: -1px;
      border-top-color: $primary-color;
      border-right-color: $primary-color;
      border-bottom-color: $primary-color;
      span {
        font-weight: bold;
        color: $white;
        background-color: $primary-color;
        box-shadow: 0 1px 2px rgba($black, .3) inset;
      }
    }
  }
  a,
  span {
    display: block;
    padding: 7px 14px 6px;
  }
  a {
    &:hover {
      text-decoration: none;
      background-color: $white-gray;
    }
  }
}
