//
// Panel
// ------------------------------------------------------------


.panel--simple {
  padding: 20px;
}
.panel {
  margin-bottom: 25px;
  background-color: $white;
  border: 1px solid $border-color;
}
.panel__head {
  position: relative;
  padding: 18px 20px;
  border-bottom: 1px solid $border-light-color;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
}
.panel__title {
  margin: 0;
  font-size: 16px;
  color: $black;
}
.panel--default {
  .panel__body {
    padding: 25px 20px;
  }
}
.panel__foot {
  padding: 25px 20px;
  background-color: $white-gray;
  border-top: 1px solid $border-light-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05) inset;
}
