.summary {
  margin: 0;
  background-color: $white;
  border: 1px solid $border-color;
}

.summary__head {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid $border-light-color;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
  .fa {
    margin-right: 6px;
  }
}

.summary__body {
  padding: 15px;
  margin: 0;
}

.summary__num {
  display: block;
  font-family: $num-font-family;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  &.diff {
    margin-top: 10px;
    font-size: 13px;
  }
  &.success {
    color: $success-color;
  }
  &.danger {
    color: $danger-color;
  }
}

.summaries {
  height: 100%;
  overflow: hidden;
  .summary {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@include mobile {
  .summaries {
    .summary {
      width: 49%;
      &:nth-child(3n) {
        margin-right: 2%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
