@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  outline: 0; }

*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  -ms-overflow-style: scrollbar; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  background-color: #eee;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; }
  body.is-sidebar-open {
    overflow: hidden; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.clearfix::before, .clearfix::after {
  display: table;
  content: " "; }

.clearfix::after {
  clear: both; }

.weight--bold {
  font-weight: bold !important; }

.weight--normal {
  font-weight: normal !important; }

.weight--100 {
  font-weight: 100 !important; }

.weight--200 {
  font-weight: 200 !important; }

.weight--300 {
  font-weight: 300 !important; }

.weight--400 {
  font-weight: 400 !important; }

.weight--500 {
  font-weight: 500 !important; }

.weight--600 {
  font-weight: 600 !important; }

.weight--700 {
  font-weight: 700 !important; }

.weight--800 {
  font-weight: 800 !important; }

.weight--900 {
  font-weight: 900 !important; }

.align--center {
  text-align: center !important; }

.align--left {
  text-align: left !important; }

.align--right {
  text-align: right !important; }

.float--left {
  float: left !important; }

.float--right {
  float: right !important; }

.color--success {
  color: #60a144 !important; }

.color--danger {
  color: #c24640 !important; }

.color--warning {
  color: #cf9c30 !important; }

.color--muted {
  color: #888 !important; }

.bg--success {
  background-color: #e1f0db !important; }

.bg--danger {
  background-color: #faeeee !important; }

.bg--warning {
  background-color: #faf5ea !important; }

.mgn0 {
  margin: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.pdn0 {
  padding: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.mgn2 {
  margin: 2px !important; }

.mt2 {
  margin-top: 2px !important; }

.mb2 {
  margin-bottom: 2px !important; }

.ml2 {
  margin-left: 2px !important; }

.mr2 {
  margin-right: 2px !important; }

.pdn2 {
  padding: 2px !important; }

.pt2 {
  padding-top: 2px !important; }

.pb2 {
  padding-bottom: 2px !important; }

.pl2 {
  padding-left: 2px !important; }

.pr2 {
  padding-right: 2px !important; }

.mgn3 {
  margin: 3px !important; }

.mt3 {
  margin-top: 3px !important; }

.mb3 {
  margin-bottom: 3px !important; }

.ml3 {
  margin-left: 3px !important; }

.mr3 {
  margin-right: 3px !important; }

.pdn3 {
  padding: 3px !important; }

.pt3 {
  padding-top: 3px !important; }

.pb3 {
  padding-bottom: 3px !important; }

.pl3 {
  padding-left: 3px !important; }

.pr3 {
  padding-right: 3px !important; }

.mgn5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.pdn5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.mgn10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.pdn10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.mgn15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.pdn15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.mgn20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.pdn20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.mgn25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.pdn25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.mgn30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.pdn30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.mgn40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.pdn40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.mgn50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.pdn50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.mgn60 {
  margin: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.pdn60 {
  padding: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

a {
  color: #4882b6;
  text-decoration: none;
  transition: 0.2s all ease; }
  a:hover {
    text-decoration: underline; }

hr {
  margin: 25px 0;
  background: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px dotted #e0e0e0;
  border-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin-top: 25px;
  margin-bottom: 10px; }

* > h1:first-child,
* > h2:first-child,
* > h3:first-child {
  margin-top: 0; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

p {
  margin: 0 0 15px; }

small {
  font-size: 12px; }

blockquote {
  padding: 8px 15px;
  margin: 15px 0;
  color: #666;
  border-left: 4px solid #e0e0e0; }

code {
  padding: 2px 6px;
  margin: 0 4px;
  background-color: #f1f1f1;
  border-radius: 3px; }

.page-header {
  padding-bottom: 10px;
  margin: 0 0 25px;
  font-size: 24px;
  color: #000;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
  .page-header .fa {
    margin-right: 10px;
    font-size: 23px; }

.sub-header {
  padding-bottom: 5px;
  margin-bottom: 18px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 800px) {
  .page-header {
    margin-bottom: 15px; } }

ul,
ol {
  padding: 0;
  margin: 15px 0 15px 18px; }

ul ul {
  margin-top: 0;
  margin-bottom: 0; }

ol {
  margin-left: 23px; }

li {
  margin: 2px 0; }

.list-unstyled,
.list-inline,
.list-btn {
  padding: 0;
  margin: 0;
  list-style: none; }

.list + .list {
  margin-top: 10px; }

.list-inline,
.list-btn {
  letter-spacing: -.4em; }
  .list-inline li,
  .list-btn li {
    display: inline-block;
    letter-spacing: normal; }
    .list-inline li:first-child,
    .list-btn li:first-child {
      margin-left: 0; }
    .list-inline li:last-child,
    .list-btn li:last-child {
      margin-right: 0; }

.list-unstyled li {
  margin: 15px 0; }
  .list-unstyled li:first-child {
    margin-top: 0; }
  .list-unstyled li:last-child {
    margin-bottom: 0; }

.list-inline li {
  margin: 0 15px; }

.list-btn li {
  margin: 0 5px; }

label {
  position: relative;
  cursor: pointer; }
  label.disabled {
    cursor: not-allowed; }

[type=text],
[type=password],
textarea {
  width: 100%;
  padding: 8px 12px 7px;
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  outline: 0;
  transition: 0.2s all ease;
  -webkit-appearance: none; }
  [type=text]:focus,
  [type=password]:focus,
  textarea:focus {
    border-color: #4882b6; }
  [type=text].input--xsmall,
  [type=password].input--xsmall,
  textarea.input--xsmall {
    max-width: 80px; }
  [type=text].input--small,
  [type=password].input--small,
  textarea.input--small {
    max-width: 180px; }
  [type=text].input--large,
  [type=password].input--large,
  textarea.input--large {
    max-width: 300px; }
  [type=text].input--success,
  [type=password].input--success,
  textarea.input--success {
    background-color: #eaf4e6;
    border-color: #60a144; }
  [type=text].input--danger,
  [type=password].input--danger,
  textarea.input--danger {
    background-color: #faeeee;
    border-color: #c24640; }
  [type=text].input--warning,
  [type=password].input--warning,
  textarea.input--warning {
    background-color: #faf5ea;
    border-color: #cf9c30; }
  [type=text]:disabled,
  [type=password]:disabled,
  textarea:disabled {
    cursor: not-allowed;
    background-color: #f1f1f1;
    border-color: #f1f1f1; }

[type=password] {
  font-family: Verdana; }

textarea {
  vertical-align: top;
  resize: vertical; }

[type=radio],
[type=checkbox] {
  margin-right: 10px;
  outline: 0; }

.input-styled {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0; }
  .input-styled + .icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid #e0e0e0;
    transition: 0.2s all ease; }
    .input-styled + .icon::after {
      position: absolute;
      display: block;
      opacity: 0;
      transition: 0.2s all ease; }
  .input-styled:hover + .icon,
  .input-styled:focus + .icon {
    border-color: #bababa; }
  .input-styled:active + .icon {
    border-color: #4882b6; }
  .input-styled:checked + .icon {
    border-color: #4882b6; }
    .input-styled:checked + .icon::after {
      opacity: 1; }
  .input-styled:disabled + .icon {
    cursor: not-allowed;
    opacity: .5; }
  .input-styled:disabled + .icon + * {
    color: #888;
    cursor: not-allowed; }
  .input-styled:disabled:hover + .icon,
  .input-styled:disabled:focus + .icon {
    border-color: #e0e0e0; }

.input--radio + .icon {
  border-radius: 50%; }

.input--radio + .icon::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #4882b6;
  border-radius: 50%; }

.input--check + .icon {
  border-radius: 3px; }

.input--check:checked + .icon {
  background-color: #4882b6; }

.input--check + .icon::after {
  content: "";
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: -1px;
  left: 2px;
  font-size: 13px;
  color: #fff; }

@-moz-document url-prefix() {
  .input--check + .icon::after {
    top: 0; } }

select {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  cursor: pointer; }
  select:disabled {
    cursor: not-allowed; }

.select-styled {
  position: relative; }
  .select-styled.select--large {
    width: 300px; }
  .select-styled select {
    display: inline;
    width: 100%;
    height: 40px;
    padding: 0 44px 0 10px;
    overflow: hidden;
    font-weight: bold;
    line-height: 40px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ddd;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: 0.2s all ease;
    -moz-appearance: none !important;
    -webkit-appearance: none !important; }
    .select-styled select:hover {
      background-color: #d0d0d0; }
    .select-styled select:disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: .4; }
  .select-styled::after {
    content: "";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 100%;
    font-size: 16px;
    line-height: 40px;
    color: #888;
    text-align: center;
    pointer-events: none;
    border-left: 1px solid #fff; }

.btn {
  display: inline-block;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  color: #4882b6;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: 0.2s all ease; }
  .btn .fa {
    margin-right: 8px; }
  .btn.disabled, .btn:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .4; }

.btn--default {
  color: #333;
  background-color: #ddd; }
  .btn--default:hover {
    text-decoration: none;
    background-color: #d0d0d0; }

.btn--dark,
.btn--primary,
.btn--success,
.btn--danger,
.btn--warning {
  color: #fff; }
  .btn--dark:hover,
  .btn--primary:hover,
  .btn--success:hover,
  .btn--danger:hover,
  .btn--warning:hover {
    text-decoration: none; }

.btn--dark {
  background-color: #4d5250; }
  .btn--dark:hover {
    background-color: #393d3b; }

.btn--primary {
  background-color: #4882b6; }
  .btn--primary:hover {
    background-color: #3c6d99; }

.btn--success {
  background-color: #60a144; }
  .btn--success:hover {
    background-color: #4f8438; }

.btn--danger {
  background-color: #c24640; }
  .btn--danger:hover {
    background-color: #a53a35; }

.btn--warning {
  background-color: #cf9c30; }
  .btn--warning:hover {
    background-color: #ae8328; }

.btn--small {
  padding: 8px 12px 7px;
  font-size: 13px; }
  .btn--small .fa {
    font-size: 14px; }

.btn--large {
  padding: 14px 40px;
  font-size: 17px; }
  .btn--large .fa {
    font-size: 17px; }

.flash-msg {
  position: relative;
  padding: 15px 25px;
  margin: 0 0 20px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px; }
  .flash-msg > p {
    margin: 0; }
  .flash-msg > .close {
    position: absolute;
    top: 13px;
    right: 10px;
    background: none;
    border: 0;
    opacity: .5;
    transition: 0.2s all ease; }
    .flash-msg > .close::before {
      content: "";
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 20px;
      font-weight: normal; }
    .flash-msg > .close:hover {
      opacity: .3; }
  .flash-msg.success {
    color: #4b7d35;
    background-color: #e1f0db;
    border-color: #b5d9a5; }
  .flash-msg.danger {
    color: #9d3732;
    background-color: #faeeee;
    border-color: #e7b6b4; }
  .flash-msg.warning {
    color: #a67d26;
    background-color: #faf5ea;
    border-color: #ecd7ac; }

.head-bar {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 60px;
  background-color: #3a3d3c;
  border-bottom: 1px solid #2e302f;
  transition: 0.2s all ease; }

.head-bar__toggle {
  display: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer; }
  .head-bar__toggle::after {
    content: "";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: #fff; }

.user-dropdown {
  position: relative;
  float: right;
  height: 59px;
  padding: 0 16px;
  line-height: 59px;
  cursor: pointer;
  border-left: 1px solid #4e5251;
  transition: 0.2s all ease; }
  .user-dropdown:active {
    background-color: #262827; }

.user-avatar {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 3px; }
  .user-avatar img {
    width: 38px;
    height: 38px;
    padding: 1px;
    border-radius: 3px; }

.user-name {
  position: relative;
  top: -1px;
  display: inline-block;
  padding-right: 10px;
  margin: 0;
  font-size: 12px;
  color: #fff;
  vertical-align: middle; }

.user-menu {
  position: absolute;
  top: 65px;
  right: 12px;
  display: none;
  min-width: 200px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); }
  .user-menu .user-menu__content {
    padding: 0;
    margin: 0;
    list-style: none; }
  .user-menu .caret {
    position: absolute;
    top: -10px;
    right: 32px; }
  .user-menu .caret-outer,
  .user-menu .caret-inner {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    content: "";
    border: solid transparent; }
  .user-menu .caret-inner {
    top: 1px;
    left: 2px;
    border-color: transparent transparent #fff;
    border-width: 0 8px 9px; }
  .user-menu .caret-outer {
    border-color: transparent transparent #bfbfbf;
    border-width: 0 10px 10px; }

.is-open .user-menu {
  display: block; }

.user-menu__list {
  line-height: 1.5em; }
  .user-menu__list a {
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    color: #333; }
    .user-menu__list a:hover {
      text-decoration: none;
      background-color: #f1f1f1; }
  .user-menu__list .fa {
    margin-right: 8px; }

@media only screen and (max-width: 1000px) {
  .head-bar {
    left: 0; }
  .head-bar__toggle {
    display: inline-block; }
  .is-sidebar-open .head-bar {
    left: 260px; } }

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
  width: 260px;
  background-color: #4d5250;
  transition: 0.2s all ease; }

.side-bar__header {
  height: 60px;
  background-color: #3a3d3c;
  border-bottom: 1px solid #2e302f; }

.site-name a {
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  color: #fff; }
  .site-name a:hover {
    text-decoration: none; }

.site-name img {
  position: relative;
  width: auto;
  height: 32px;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle; }

.side-bar__content {
  position: relative;
  min-height: 100%; }

.side-bar__menu,
.child-menu {
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 1000px) {
  .side-bar {
    left: -260px; }
  .is-sidebar-open .side-bar {
    left: 0; } }

.side-bar__list {
  display: block;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .side-bar__list a,
  .side-bar__list .parent-title {
    position: relative;
    display: block;
    padding: 12px 12px 12px 46px;
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
    cursor: pointer;
    transition: 0.2s all ease; }
    .side-bar__list a:hover,
    .side-bar__list .parent-title:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }
  .side-bar__list .parent-title {
    position: relative; }
    .side-bar__list .parent-title::before {
      content: "";
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 20px;
      color: rgba(255, 255, 255, 0.5); }
    .side-bar__list .parent-title.is-open + .child-menu {
      display: block; }
    .side-bar__list .parent-title.is-open::before {
      content: "\f077"; }
    .side-bar__list .parent-title.disabled {
      pointer-events: none;
      cursor: default; }
      .side-bar__list .parent-title.disabled::before {
        content: ""; }
  .side-bar__list .fa {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -10px;
    font-size: 17px; }
  .side-bar__list.is-active > a,
  .side-bar__list.is-active > .parent-title {
    position: relative;
    color: #fff;
    cursor: default;
    background-color: #4882b6; }
    .side-bar__list.is-active > a::after,
    .side-bar__list.is-active > .parent-title::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      margin-top: -10px;
      pointer-events: none;
      content: "";
      border-color: rgba(238, 238, 238, 0);
      border-style: solid;
      border-width: 10px;
      border-right-color: #eee; }
  .side-bar__list.is-active > .disabled {
    cursor: default; }

.child-menu {
  display: none; }

.child-menu__list {
  margin: 0; }
  .child-menu__list a {
    padding: 8px 15px;
    font-size: 13px;
    color: #ccc;
    background-color: #3e4241; }
    .child-menu__list a:hover {
      background-color: #393d3b; }
  .child-menu__list.is-active a {
    color: #fff; }

.scroll-wrap {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: hidden; }
  .scroll-wrap > .scroll-content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden; }
    .scroll-wrap > .scroll-content:focus {
      outline: thin dotted; }
  .scroll-wrap > .scroll-content::-webkit-scrollbar {
    display: none; }

.breadcrumbs {
  padding: 0;
  margin: 0 0 20px;
  letter-spacing: -.4em;
  list-style: none; }

.breadcrumbs__list {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: normal; }
  .breadcrumbs__list a {
    position: relative;
    display: block;
    padding-right: 14px;
    font-weight: bold; }
    .breadcrumbs__list a::after {
      content: "";
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 0;
      font-size: 14px;
      font-weight: normal;
      color: #888; }

@media only screen and (max-width: 800px) {
  .breadcrumbs {
    display: none; } }

.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  letter-spacing: -.4em;
  background-color: #fff; }
  .pagination > li {
    display: inline-block;
    margin: 0;
    letter-spacing: normal;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .pagination > li:first-child {
      border-left: 1px solid #ccc; }
    .pagination > li.active {
      position: relative;
      margin-left: -1px;
      border-top-color: #4882b6;
      border-right-color: #4882b6;
      border-bottom-color: #4882b6; }
      .pagination > li.active span {
        font-weight: bold;
        color: #fff;
        background-color: #4882b6;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset; }
  .pagination a,
  .pagination span {
    display: block;
    padding: 7px 14px 6px; }
  .pagination a:hover {
    text-decoration: none;
    background-color: #f9f9f9; }

.main-contents {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 260px;
  background-color: #eee;
  transition: 0.2s all ease; }

.main-contents__body {
  position: relative;
  min-height: 100%;
  padding: 20px 25px;
  background-color: #eee; }
  .main-contents__body > p {
    margin-top: 0; }

@media only screen and (max-width: 1000px) {
  .main-contents {
    padding-left: 0; }
  .is-sidebar-open .main-contents {
    position: fixed;
    left: 260px; } }

@media only screen and (max-width: 800px) {
  .main-contents__body {
    padding: 15px; } }

.page-login {
  padding: 50px 0 20px;
  background-color: #4d5250; }

.login {
  width: 400px;
  margin: 0 auto; }

.login__wrap {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); }

.login__logo {
  margin: 0 0 20px;
  font-weight: bold;
  color: #fff;
  text-align: center; }

.login__head {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background-color: #333534;
  border-bottom: 1px solid #000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.login__title {
  margin: 0;
  font-size: 18px; }
  .login__title .fa {
    margin-right: 10px; }

.login__body {
  background-color: #fff; }

.login__list {
  padding: 20px 20px 0; }
  .login__list:last-child {
    padding-bottom: 25px; }

.login__label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold; }

.login__foot {
  padding: 18px 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset; }

.login__caps {
  margin: 15px 0 0;
  font-size: 13px; }
  .login__caps p {
    margin: 0; }
  .login__caps a {
    color: #fff; }

@media only screen and (max-width: 800px) {
  .page-login {
    padding: 20px 15px; }
  .login {
    width: 100%;
    margin: 0; } }

.panel--simple {
  padding: 20px; }

.panel {
  margin-bottom: 25px;
  background-color: #fff;
  border: 1px solid #ccc; }

.panel__head {
  position: relative;
  padding: 18px 20px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); }

.panel__title {
  margin: 0;
  font-size: 16px;
  color: #000; }

.panel--default .panel__body {
  padding: 25px 20px; }

.panel__foot {
  padding: 25px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset; }

.data-list {
  display: table;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }
  .data-list.col2 .data-list__title {
    width: 15%; }
  .data-list.col2 .data-list__body {
    width: 35%; }
  .data-list.col2--50 {
    width: 50%; }
    .data-list.col2--50 .data-list__title {
      width: 30%; }
    .data-list.col2--50 .data-list__body {
      width: 70%; }

* > .data-list:last-child {
  border-bottom: 0; }

.data-list__title,
.data-list__body {
  display: table-cell;
  padding: 23px 20px;
  vertical-align: middle; }

.data-list__title {
  width: 20%;
  font-weight: bold;
  color: #000;
  text-align: right;
  border-right: 1px dashed #e0e0e0; }

.data-list__body {
  width: 80%;
  margin: 0; }

.data-list__body + .data-list__title {
  border-left: 1px solid #e0e0e0; }

@media only screen and (max-width: 800px) {
  .data-list {
    display: block; }
    .data-list.col2--50 .data-list__title,
    .data-list.col2--50 .data-list__body, .data-list.col2 .data-list__title,
    .data-list.col2 .data-list__body {
      width: 100%; }
    .data-list.col2--50 {
      width: 100%; }
  .data-list__title,
  .data-list__body {
    display: block;
    width: 100%;
    text-align: left; }
  .data-list__title {
    padding-top: 12px;
    padding-bottom: 10px;
    border-right: 0;
    border-bottom: 1px dashed #e0e0e0; }
  .data-list__body + .data-list__title {
    border-top: 1px solid #e0e0e0;
    border-left: 0; } }

.table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc; }
  .table thead {
    border-bottom: 3px double #e0e0e0; }
    .table thead th,
    .table thead td {
      padding-top: 14px; }
  .table tr {
    border-bottom: 1px dotted #e0e0e0; }
    .table tr:last-child {
      border-bottom: 0; }
  .table th,
  .table td {
    padding: 12px 25px; }
    .table th.area-btn,
    .table td.area-btn {
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: right; }
  .table th {
    text-align: left; }

.table--panel {
  border: 0; }
  .table--panel thead {
    border-bottom-width: 2px; }

.table--striped tr:nth-child(2n) {
  background-color: #f9f9f9; }

.table--bordered tr {
  border-bottom-style: solid; }

.table--bordered th,
.table--bordered td {
  border-right: 1px solid #e0e0e0; }
  .table--bordered th:last-child,
  .table--bordered td:last-child {
    border-right: 0; }

.tab {
  position: relative;
  padding: 0;
  margin: 0 0 -1px;
  letter-spacing: -.4em;
  list-style: none; }
  .tab > li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 -1px;
    letter-spacing: normal;
    background-color: #fff;
    border: 1px solid #ccc; }
    .tab > li:first-child {
      margin-left: 0; }
    .tab > li.is-active {
      border-bottom-color: #fff; }
      .tab > li.is-active a {
        color: #000;
        cursor: default;
        background-color: #fff; }
  .tab a {
    display: block;
    padding: 10px 15px;
    background-color: #f9f9f9; }
    .tab a:hover {
      text-decoration: none;
      background-color: #f1f1f1; }

.tab-content {
  padding: 20px 25px;
  background-color: #fff;
  border: 1px solid #ccc; }

.tab-pane {
  display: none; }
  .tab-pane.is-active {
    display: block; }

.pills {
  padding: 0;
  margin: 0 0 20px;
  letter-spacing: -.4em;
  list-style: none; }
  .pills li {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    letter-spacing: normal; }
    .pills li.is-active a {
      font-weight: bold;
      color: #fff;
      cursor: default;
      background-color: #4882b6; }
  .pills a {
    display: block;
    height: 34px;
    padding: 0 15px;
    line-height: 34px;
    color: #333;
    background-color: transparent;
    border-radius: 17px; }
    .pills a:hover {
      text-decoration: none;
      background-color: #dadada; }

/*# sourceMappingURL=adminize.css.map */
