h1.page-header
  i.fa.fa-tachometer
  span Dashboard
  

div.summaries
  dl.summary
    dt.summary__head
      i.fa.fa-user
      span Users
    dd.summary__body
      span.summary__num 264
      span.summary__num.diff.success 264(+400%)
  dl.summary
    dt.summary__head
      i.fa.fa-music
      span Songs
    dd.summary__body
      span.summary__num 2,000
      span.summary__num.diff.danger -1,000(-50%)
  dl.summary
    dt.summary__head
      i.fa.fa-film
      span Movies
    dd.summary__body
      span.summary__num 21
      span.summary__num.diff.success +3(+70%)
  dl.summary
    dt.summary__head
      i.fa.fa-music
      span Songs
    dd.summary__body
      span.summary__num 2,000
      span.summary__num.diff.danger -1,000(-50%)
  dl.summary
    dt.summary__head
      i.fa.fa-film
      span Movies
    dd.summary__body
      span.summary__num 21
      span.summary__num.diff.success +3(+70%)
