ul.list-btn.align--center
  li
    div.dropdown-group
      button(type="button" class="btn btn--primary js-dropdown-toggle")
        | Button
        i.fa.fa-caret-down.dropdown__caret
      ul.dropdown.pos-down.pos-left
        li: a(href="#") Menu 1
        li: a(href="#") Menu 2
        li: a(href="#") Menu 3
  li
    div.dropdown-group
      button(type="button" class="btn btn--primary js-dropdown-toggle")
        | Button
        i.fa.fa-caret-down.dropdown__caret
      ul.dropdown.pos-down.pos-left
        li: a(href="#") Menu 1
        li: a(href="#") Menu 2
        li: a(href="#") Menu 3
