h1.page-header
  i.fa.fa-tag
  span Label
  
div.panel.panel--default
  div.panel__body
    h1
      | Lorem Ipsum is simply dummy text. 
      span.label New
    h2
      | Lorem Ipsum is simply dummy text. 
      span.label New
    h3
      | Lorem Ipsum is simply dummy text. 
      span.label New
    h4
      | Lorem Ipsum is simply dummy text. 
      span.label New
    h5
      | Lorem Ipsum is simply dummy text. 
      span.label New
    h6
      | Lorem Ipsum is simply dummy text. 
      span.label New
    p
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry.&nbsp;
      span.label New

div.panel.panel--default
  div.panel__body
    ul.list-btn
      li: span.label.label--default Default
      li: span.label.label--primary Primary
      li: span.label.label--success Success
      li: span.label.label--danger Danger
      li: span.label.label--warning Warning
      li: span.label.label--info Info

div.panel.panel--default
  div.panel__head
    h2.panel__title
      | Integratios 
      span.label.label--success enabled
  div.panel__body
