h1.page-header Pills

ul.pills
  li
    a(href="#") Page1
  li.is-active
    a(href="#") Page2
  li
    a(href="#") Page3

div.panel.panel--default
  div.panel__head
    h2.panel__title Simple Panel
  div.panel__body
    p some text
