//
// Flash Messages
// ------------------------------------------------------------


.flash-msg {
  position: relative;
  padding: 15px 25px;
  margin: 0 0 20px;
  font-weight: bold;
  background-color: $white;
  border: 1px solid $border-light-color;
  border-radius: $base-radius;
  > p {
    margin: 0;
  }
  > .close {
    position: absolute;
    top: 13px;
    right: 10px;
    background: none;
    border: 0;
    opacity: .5;
    transition: $base-transition;
    &::before {
      @include fontawesome("\f00d");
      font-size: 20px;
      font-weight: normal;
    }
    &:hover {
      opacity: .3;
    }
  }
  &.success {
    color: darken($success-color, 10%);
    background-color: lighten($success-color, 45%);
    border-color: lighten($success-color, 30%);
  }
  &.danger {
    color: darken($danger-color, 10%);
    background-color: lighten($danger-color, 45%);
    border-color: lighten($danger-color, 30%);
  }
  &.warning {
    color: darken($warning-color, 10%);
    background-color: lighten($warning-color, 45%);
    border-color: lighten($warning-color, 30%);
  }
}
