div.head-bar.js-headbar
    div.head-bar__toggle.js-head-toggle
    div.user-dropdown.js-dropdown
        div.user-name komeda
        div.user-avatar
            img(src="//www.gravatar.com/avatar/b58f6ebea2155370e2daf60c369616b1", alt="user name")
        div.user-menu
            i.caret
                i.caret-outer
                i.caret-inner
            ul.user-menu__content
                li.user-menu__list
                    a(href="#")
                        i.fa.fa-gear
                        | 設定
