div.side-bar
    div.side-bar__header
        div.site-name
            a(href="#")
              img(src="http://www.gravatar.com/avatar/b58f6ebea2155370e2daf60c369616b1")
              span.with-logo Adminize
    div.scroll-wrap.js-scroll-wrap
        div.scroll-content.js-scroll-content
            ul.side-bar__menu
                li.side-bar__list
                    a(href="#")
                      i.fa.fa-file-text.icon
                      span Navigation
        div.scroll-pane.js-scroll-pane
            div.scroll-slider.js-scroll-slider
