div.side-bar
    div.side-bar__header
        div.site-name
            a(href="#") Adminize
    div.scroll-wrap.js-scroll-wrap
        div.scroll-content.js-scroll-content
            ul.side-bar__menu
                li.side-bar__list
                    span.parent__title.is-open.js-side-parent
                      i.fa.fa-file-text.icon
                      span Navigation
                    ul.child-menu
                      li.child-menu__list
                        a(href="#") child
                      li.child-menu__list
                        a(href="#") child
        div.scroll-pane.js-scroll-pane
            div.scroll-slider.js-scroll-slider
