div.side-bar
    div.side-bar__header
        div.site-name
            a(href="#") Adminize
    div.scroll-wrap.js-scroll-wrap
        div.scroll-content.js-scroll-content
            ul.side-bar__menu
                li.side-bar__list
                    a(href="/")
                        i.fa.fa-gear
                        | Dashboard
        div.scroll-pane.js-scroll-pane
            div.scroll-slider.js-scroll-slider
