div.side-bar
  div.side-bar__header
    div.site-name
      a(href="#")
        img(src="http://www.gravatar.com/avatar/b58f6ebea2155370e2daf60c369616b1")
        span.with-logo Adminize
  div.scroll-wrap
    div.scroll-content
      ul.side-bar__menu
        li.side-bar__list: a(href="./")
          i.fa.fa-file-text.icon
          span Index
        li.side-bar__list: a(href="./typo")
          i.fa.fa-file-text.icon
          span Typo
        li.side-bar__list: a(href="./button")
          i.fa.fa-file-text.icon
          span Button
        li.side-bar__list: a(href="./dropdown")
          i.fa.fa-file-text.icon
          span Dropdown
        li.side-bar__list: a(href="./form")
          i.fa.fa-file-text.icon
          span Form
        li.side-bar__list: a(href="./label")
          i.fa.fa-file-text.icon
          span Label
        li.side-bar__list: a(href="./tab")
          i.fa.fa-file-text.icon
          span Tab
        li.side-bar__list: a(href="./modal")
          i.fa.fa-file-text.icon
          span Modal
        li.side-bar__list: a(href="./messages")
          i.fa.fa-file-text.icon
          span Flash Messages
