doctype
html(lang="ja")
    head
        != partial("_includes/_head")
    body
        != partial("_includes/_head-bar")
        != partial("_includes/_side-bar")
        
        div.main-contents
          div.main-contents__body
            != yield

        != partial("_includes/_script")
