//
// Label
// ------------------------------------------------------------

.label {
  display: inline-block;
  padding: .45em .6em .4em;
  font-size: .85em;
  font-weight: bold;
  line-height: 1;
  color: $white;
  vertical-align: middle;
  background-color: $gray;
  border-radius: 3px;
}

.label--primary { background-color: $primary-color; }
.label--success { background-color: $success-color; }
.label--danger {  background-color: $danger-color; }
.label--warning { background-color: $warning-color; }
.label--info { background-color: $info-color; }
