//
// Utility
// ------------------------------------------------------------


// Basic
// --------------------
ul,
ol {
  padding: 0;
  margin: 15px 0 15px 18px;
}
ul {
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
ol {
  margin-left: 23px;
}
li {
  margin: 2px 0;
}

.list-unstyled,
.list-inline,
.list-btn {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list + .list {
  margin-top: 10px;
}

.list-inline,
.list-btn {
  letter-spacing: -.4em;
  li {
    display: inline-block;
    letter-spacing: normal;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.list-unstyled {
  li {
    margin: 15px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.list-inline {
  li {
    margin: 0 15px;
  }
}
.list-btn {
  li {
    margin: 0 5px;
  }
}
