meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
title Preview - Adminize
link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/adminize.min.css")
