//
// Mixins
// ------------------------------------------------------------


// Media Query
// --------------------
@mixin tablet {
  @media only screen and (max-width: $break-point-laptop) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $break-point-tablet) {
    @content;
  }
}

// FontAwesome
// --------------------
@mixin fontawesome($content) {
  content: $content;
  font-family: $icon-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin placeholder {
  &::placeholder {
    @content
  }
}
