//
// Mixins
// ------------------------------------------------------------

// Media Query
// --------------------
@mixin tablet {
  @media only screen and (max-width: $break-point-laptop) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $break-point-tablet) {
    @content;
  }
}

// FontAwesome
// --------------------
@mixin fontawesome($content) {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $icon-font-family;
  content: $content;
}

@mixin placeholder {
  &::placeholder { @content; }
}
